/*Shared*/

#primary_color{

    background-color: #0B132B;
}

#secondary_color{

    background-color: #6FFFE9;
}

.tertiary-color{

    background-color: #FFFFFF;
}

.full_page {

    height: 100%;
    width: 100%;
    position: absolute;
    
}

.sub_header {

    background-color: #0B132B;
    height: 10%;
    width: 50%;
    left: 25%;
    top: 9%;
    position: absolute;
    color: #FFFFFF;
    font-size: 3vh;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_content {

    background-color: #0B132B;
    height: 90%;
    width: 50%;
    left: 25%;
    top: 18%;
    overflow: scroll;

    position: fixed;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.sub_content::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.circle_step {

    border: 2px solid #6FFFE9;
    height: 4.25vw;
    width: 4.25vw;
    border-radius: 50%;

    color: #6FFFE9;
    font-size: 3vh;

    display: inline-block;

}

.number{

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.instructions{

    display: inline-block;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75vh;
    
}
.token_input {

    margin-left: 5.25vw; /* .circle_step width + #test margin-left*/
    height: 5vh;
    width: 100%;
    background-color: #6FFFE9;
    position: relative;

    font-size: 2.5vh;
}

.done_button {

    height: 5vh;
    width: 20vh;
    font-size: 2.5vh;
    background-color: #6FFFE9;

    margin-left: auto;
    margin-right: auto;
  
    margin-top: 10%;
    line-height: 5vh;
    text-align: center;
    border-radius: 1vh;
}

.done_button:hover{
    cursor: pointer;
    background-color: #FFFFFF;
}

.done_button:active{

    box-shadow: #FFFFFF;

}

.sub_instruction {
    display: inline-block;
    margin-left: 1vw;
    font-size: 150%;
    color: #FFFFFF;
    width: 100%;

    vertical-align: middle;
}

#test2 {

    width: 100%;
    margin-top: 15%;   
}

.header {

    height: 9%;
    color: #0B132B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4vh;
}

.lights_label {

    background-color: #6FFFE9;
    color: #0B132B;
    height: 7vh;
    width: 30vh;
    font-size: 2.5vh;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    line-height: 7vh;

    border-radius: 1vh;
    cursor: pointer;

    &:hover{
        transform: scale(1.15,1.15);
        transition: all .2s ease-in-out;
    }
}

.lights_label_chosen {

    background-color: #FFFFFF;

}


/**/